/* Global Styles */
:root {
  font-family: Barlow;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(0, 0, 0, 1);
  background-color: #fff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* Root Element */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #444;
}

h1 {
  font-size: 96px;
  line-height: 115px;
  font-weight: 600;
}

h4 {
  font-size: 49px;
  line-height: 57.6px;
  font-weight: 600;
}

.title {
  margin-bottom: 100px;
}

.read-the-docs {
  color: #888;
}

/* Link Styles */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

/* Buttons */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.btn {
  background-color: #004177;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 8px;
  border: none;
  margin: 0 auto;
  display: block;
  width: 300px;
  font-size: 24px;
  text-align: left;
}

/* Dropdown */
.dropdown {
  position: relative;
  width: 300px;
  background: #eee;
  opacity: 0;
  transform: translateY(0.5rem);
  transition: all 0.1s cubic-bezier(0.16, 1, 0.5, 1);
  z-index: 1000000;
  max-height: 300px;
  overflow-y: scroll;
  visibility: hidden;
  transition: opacity 0.3s ease;
  margin: -10px auto 0 auto;
}

.dropdown.open {
  opacity: 1;
  visibility: visible;
}

.dropdown.closed {
  opacity: 0;
  visibility: hidden;
}

.dropdown a {
  display: flex;
  align-items: center;
  column-gap: var(--gap);
  padding: 0.8rem 1rem;
  text-decoration: none;
  color: #004177;
  font-size: 24px;
}

.dropdown a.active {
  border-left: 5px solid #004177;
}

.dropdown a:hover {
  background-color: #ddd;
}

.arrow {
  margin-top: 3px;
  float: right;
}

.arrow-rotated {
  transform: rotate(180deg);
  transition: 0.2s ease;
}

/* Checkbox Styles */
.checkcontainer {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  margin-right: 10px;
}

.label-for-check {
  color: #004177;
}

.checkcontainer input:checked + .label-for-check {
  font-weight: 700;
}

.checkcontainer input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  margin-top: 7px;
  background-image: url("assets/checkbox_open.svg");
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkcontainer input:checked ~ .checkmark:after {
  display: block;
}

.checkcontainer .checkmark:after {
  background-image: url("assets/checkbox_done.svg");
  width: 25px;
  height: 25px;
}
/* Gallery Styles */
.gallery-image,
.gallery-images .image-container img {
  object-fit: cover;
}

.gallery-image {
  width: 600px;
  height: 400px;
}

.gallery-images .image-container {
  position: relative;
  overflow: hidden;
  width: 600px;
  height: 400px;
  margin: 0 auto;
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  justify-items: center;
  width: 1200px;
}

.image-grid .image-container {
  position: relative;
  overflow: hidden; /* Ensures no overflow beyond defined size */
  width: 100%; /* Allow container to take full width of the grid column */
  padding-bottom: 66.67%; /* 2/3 = 66.67% for a 3:2 ratio */
}

.image-grid .image-container img {
  position: absolute; /* Position image absolutely within container */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  width: 100%; /* Full width of the container */
  height: 100%; /* Full height of the container */
  object-fit: cover; /* Maintains aspect ratio while covering the area */
}

.image-container button.favorite {
  position: absolute;
  top: 8px;
  right: -4px;
  background: none;
  border: none;
}

.image-container button.delete {
  position: absolute;
  width: 24px;
  height: 24px;
  padding: 0;
  right: 10px;
  top: 10px;
  background: none;
  border: none;
}

.favorite-item {
  position: relative;
  overflow: hidden;
  aspect-ratio: 1 / 1;
  width: 100%;
}

/* Navigation Buttons */

.navigateimg {
  margin-top: 20px;
}
.navigateimg button {
  border: 2px solid #004177;
  color: #004177;
  background: white;
  width: 290px;
}

.navigateimg button:nth-child(1) {
  margin-right: 10px;
}

.navigateimg button:nth-child(2) {
  margin-left: 10px;
}

/* Miscellaneous Utilities */
.mt-100 {
  margin-top: 100px;
}
.mb-50 {
  margin-bottom: 50px;
}
.text-left {
  text-align: left;
}
